div{
    font-family: system-ui
}
#t1{
font-weight: 100;

}
#t2{
    font-weight: 200;
}
#t3{
    font-weight: 300;
}
#t4{
    font-weight: 400;
}
#t5{
    font-weight: 500;
}
#t6{
    font-weight: 600;
}
#t7{
    font-weight: 700;
}
#t8{
    font-weight: 800;
}
#t9{
    font-weight: 900;
}
