p{
    background-color: aqua;
    height: 100px;
    width: 100px;
    position: relative;
}
p::first-letter{
    background-color: aqua;
}
p::selection{color: blueviolet;}
/* على اى عنصر::selection */
p::before{
    content:"test"
}
p::before{
    content: "";
    background: rgba(0, 0, 255, 0.295);
    height: 100%;
    width: 10px;
    position: absolute;

}
