


div{
    color: white;
    width: 100px; ;
    padding: 10px;
}
.one{
    background-color: red;
    position: fixed; 
    bottom: 0;
    
}
.two{
    background-color: green;
    
}
.parent{
    width: 500px;
    
    height: 200px;
    background-color: rgb(38, 0, 255);
    
}



/* 



relative ----> بيتحرك على نفسه
*/